html, body{
	width: 100%;
	height: 100%;
	margin:0px;
	font-family: Arial,sans-serif;
	font-weight:bold; 
	font-size:13px;
}

tr,td{
	margin:1px;
	padding:1px;
	/*border-radius:5px;
	border-width:1px;
	border-style:solid;	
	border-color:#F3F3F3;*/
}

td.menuStyle{
	height:70px;
	width:400px;
	position:relative;
	background-size: 100% 100%;
	background-image:url("../img/gradient_titulos.png");
}

td.headStyle{
	height:70px;
	width:400px;
	font-size:15px;
	background-color:#F6F6F6;
}

.equationListStyle{	
	width:295px;
	height:715px;
	max-height:715px;
	vertical-align:top;	
	background-color:#F6F6F6;
	position:relative;
	overflow-y:auto;
}

div.div_equationStyle{
	height:68px; 
	max-height:70px;
	width:239px;
	max-width:239px;
	float:left;
	font-size:15px;
	margin-bottom:2px;
	line-height:65px;
	border-right-width:0px;
	border-style:solid;
	border-radius:2px;
	border-color:white;
	background-color:#B0E2FF;
	cursor:pointer;
}

div.div_equationSelectedStyle{
	height:68px; 
	max-height:70px;
	width:239px;
	max-width:239px;
	float:left;
	font-size:15px;
	margin-bottom:2px;
	line-height:65px;
	border-right-width:0px;
	border-style:solid;
	border-radius:2px;
	border-color:white;
	background-color:#3399FF;
	cursor:pointer;
}

.checkbox_equationStyle{
	height:68px;
	max-height:70px;	
	width:30px;	
	float:left;
	margin-bottom:2px;
	line-height:53px;
	border-style:solid;
	border-radius:2px;
	border-left-width:0px;
	border-color:white;
	background-color:#B0E2FF;
}

.checkbox_equationSelectedStyle{
	height:68px; 
	max-height:70px;
	width:30px;	
	float:left;
	margin-bottom:2px;
	line-height:53px;
	border-style:solid;
	border-radius:2px;
	border-left-width:0px;
	border-color:white;
	background-color:#3399FF;
}

img.trash_equationStyle{
	height:16px;	
	width:13px;	
	float:left;
	margin:-7px 2px 2px 7px;
	line-height:55px;
	background-image:url("../img/trash.png");
	/*border-width:0px;
	border-color:transparent;*/
	cursor:pointer;
}

td.drawAreaStyle{
	position:relative; 
	background-size: 100% 100%;
	background-color:#F6F6F6;
}

canvas{
	width:900px;
	height:700px;
}

/* Seletores especificos para cada elemento */

#div0_painelHelpers{
	height:55px;
	width:92px;
	float:left;
	margin-right:3px;
	margin-left:3px;
	vertical-align:middle;
	border-style:solid;
	border-radius:2px;
	border-width:1px;
	line-height:7px;
	border-color:white;
}

#div1_painelHelpers{
	height:55px;
	width:70px;
	float:left;
	margin-right:3px;
	margin-left:3px;
	vertical-align:middle;
	border-style:solid;
	border-radius:2px;
	border-width:1px;
	line-height:7px;
	border-color:white;
}

#div2_painelHelpers{
	height:55px;
	width:63px;
	float:left;
	margin-right:3px;
	margin-left:3px;
	vertical-align:middle;
	border-style:solid;
	border-radius:2px;
	border-width:1px;
	line-height:7px;
	border-color:white;
}

#div3_painelHelpers{
	height:55px;
	width:105px;
	float:left;
	margin-right:0px;
	margin-left:3px;
	vertical-align:middle;
	border-style:solid;
	border-width:1px 0px 1px 1px;
	line-height:7px;
	border-color:white;
}
/*painel dos valores Cor e Material*/
#div4_painelHelpers{
	height:55px;
	width:147px;
	float:left;
	margin-right:0px;
	margin-left:-2px;
	vertical-align:middle;
	border-style:solid;
	border-width:1px 0px 1px 0px;
	line-height:4px;
	border-color:white;
}
/*Sub painel dis valores de X e Y*/
#div5_painelHelpers{
	height:55px;
	/*width:290px;*/
	width:340px;
	float:left;
	margin-right:3px;
	margin-left:-1px;
	vertical-align:middle;
	border-style:solid;
	border-width:1px 1px 1px 0px;
	line-height:4px;
	border-color:white;
}
/*painel dos valores max e min de X*/
#div5_painelHelpers_1{
	height:55px;
	width:145px;
	float:left;
	margin-right:0px;
	margin-left:0px;
	vertical-align:middle;
	line-height:3px;
}
/*painel dos valores max e min de Y*/
#div5_painelHelpers_2{
	height:55px;
	width:145px;
	float:left;
	margin-right:0px;
	margin-left:0px;
	vertical-align:middle;
	border-style:solid;
	border-width:0px 1px 0px 0px;
	border-color:white;
	line-height:3px;
}

#div6_painelHelpers{
	height:55px;
	width:35px;
	float:left;
	margin-right:3px;
	margin-left:3px;
	vertical-align:middle;
	border-style:solid;
	border-radius:2px;
	border-width:1px;
	line-height:4px;
	border-color:white;
}

#menu { 
	width: 190px; 
}

#ul_drawArea{
	position:absolute;
	width: 86px; 
	margin-top: 0px; 
	margin-bottom: 0px; 
	padding-left: 30px;
}

#label_orientacao{
	position:absolute; 	
	width:20px; 
	padding:10px;	
	margin-left:850px;
	font-size:16px; 
	font-weight:bold;
}

#bu_2D3D{
	height:30px;
	width:30px;
	float:left;
	margin-right:4px;
	margin-left:2px;
	margin-top:12px;
	font-weight:bold;
}

#logo_furb{
	border:0px;	
	margin-top:2px; 
	margin-bottom:2px;
	margin-right:10px;
	margin-left:10px;
	float:left;
	height:60px;
}

#qrcode_furb{
	border:0px;	
	margin-top:7px; 
	margin-bottom:2px;
	margin-right:10px;
	margin-left:10px;
	float:left;
	height:60px;
}

#logo_html5{
	border:0px;	
	margin-top:15px; 
	margin-bottom:0px;
	margin-right:5px;
	margin-left:5px;
	float:left;
	height:40px;
}

#logo_webgl{
	border:0px;	
	margin-top:15px; 
	margin-bottom:0px;
	margin-right:5px;
	margin-left:5px;
	float:left;
	height:35px;
}